/* Apply some basic design and positioning for the filter drop down menu */
.filter_menu button{
    background-color: darkblue;
    color:white;
    padding: 10px 15px;
    border: none;
    cursor: pointer; 
    display: inline-block;
    position: fixed;
    right: 10px; 
}

/* When you hover over the filter button the colour changes. */
.filter_menu:hover button{
    background-color: lightblue;
}

/* Apply some structuring properties for the drop down menus */
.filter_menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
}

/* Hiding the elements initially and positioning them absolute to the filter menu */
.filter_menu .filter_contents{
    display: none;
    position: fixed;
    right: 10px;
    top: 90px;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

/* When hovering over the menu, it will show the contents */
.filter_menu:hover .filter_contents{
    display: block;
}

/* Whenever you hover your cursor over any of the menus then it will change the background color of the options */   
.filter_menu a:hover{ 
    background-color: hsl(0, 0%, 44%);
}
  
.search_container input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
float: left;
}
  
.search_container button {
float: left;
padding: 6px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}

/* Creates some space between each post */
.postContainer {
    margin-bottom: 40px;
}

/* Creates dimensions for the profile picture image */
.profileContainer img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

/* Properties for the username */
.profileContainer span {
   font-weight: 700;
}

/* Properties for the likes */
.likesContainer {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

/*  Properteis for the image */
.artContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 370px;
    height: 280px;
    object-fit: cover;
    border-radius: 4px;
}

/*  */
.detailsContainer {
    margin: 10px 0;
}