.search_container {
    display: inline-block;
    align-items: center;
}

.search_container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.search_container button {
    padding: 6px;
    border: none;
    cursor: pointer;
    margin-left: 0px;
}

.search_container button i {
    font-size: 17px;
}

/* Adjusts the position of the filter_contents */
.filter_menu{
    position: relative;
    width: 110px;
    float: right;
}

.filter_menu button{
    display: inline-block;
    padding: 6px 15px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* Apply some structuring properties for the drop down menus */
.filter_menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 6px 0;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
}

/* Hide the filter contents by default */
.filter_menu .filter_contents{
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    opacity: 0; 
    transition: opacity 0.3s;
}

/* Display the filter_contents when the button is clicked */
.filter_menu .filter_contents {
    display: block;
    opacity: 1;
    z-index: 1;
}

.filter_menu a:hover{ 
    background-color: hsl(0, 0%, 44%);
}


/* Creates some space between each post */
.postContainer {
    margin-top: 50px;
}

.topContainer{
    height: 50px;  
}

.topContainer .artistContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
}

.topContainer img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.topContainer span {
   font-weight: 700;
   margin-left: 5px;
}

/* Properties for the likes */
.statsContainer {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.statsButton{
    padding: 5px;
}

.statsButton i{
    font-size: 17px;
}


/*  Properteis for the image */
.artContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 370px;
    height: 280px;
    object-fit: cover;
    border-radius: 4px;
}

/*  */
.detailsContainer {
    margin: 10px 0;
}

/* Media query for mobile screens */
@media (max-width: 767px) {
    .filter_menu {
        display: block;
        text-align: center;
    }

    .filter_menu button, .filter_menu a {
        display: inline-block;
        float: none;
    }

    .filter_menu a {
        margin: 2px 0;
        padding: 6px 15px;
    }

    .filter_menu .filter_contents {
        position: relative;
        display: none;
        top: auto;
        left: auto;
        min-width: auto;
    }
}