<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='gallery.css') }}"
    />
    {% block javascript %}
    <script
      src="https://kit.fontawesome.com/82b68d50e9.js"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">artroam</div>
    </header>
    <main>
      <div class="content">
        <form method="POST" enctype="multipart/form-data" action="/gallery">
          <div>
            <label for="image_uploads"
              >Choose images to upload (PNG, JPG, JPEG)</label
            >
            <input
              type="file"
              id="image_uploads"
              name="image_uploads"
              accept=".jpg, .jpeg, .png"
              multiple
            />
          </div>
          <div class="preview">
            <p>No files currently selected for upload</p>
          </div>
          <div>
            <button type="submit">Submit</button>
          </div>
        </form>

        <div class="gridItem">
          <div class="statsContainer">
            <div class="artistContainer">
              <img
                src="{{ url_for('static', filename='avatar.png') }}"
                alt="avatar"
              />
              <span>John Smith</span>
            </div>

            <div class="iconContainer">
              <div class="iconStats">
                <i class="fa-solid fa-star icon" style="color: #464d58"></i>
                <span>747</span>
              </div>

              <div class="iconStats">
                <i class="fa-solid fa-eye icon" style="color: #464d58"></i>
                <span>16.1k</span>
              </div>
            </div>
          </div>

          <div class="previewContainer">
            <img
              src="{{ url_for('static', filename='22-06-05-1.jpeg') }}"
              alt="artwork"
            />
          </div>

          <div class="detailsContainer">
            <div class="descriptionText">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>

        <div class="gridItem">
          <div class="statsContainer">
            <div class="artistContainer">
              <img
                src="{{ url_for('static', filename='avatar.png') }}"
                alt="avatar"
              />
              <span>John Smith</span>
            </div>

            <div class="iconContainer">
              <div class="iconStats">
                <i class="fa-solid fa-star icon" style="color: #464d58"></i>
                <span>747</span>
              </div>

              <div class="iconStats">
                <i class="fa-solid fa-eye icon" style="color: #464d58"></i>
                <span>16.1k</span>
              </div>
            </div>
          </div>

          <div class="previewContainer">
            <img
              src="{{ url_for('static', filename='22-06-05-1.jpeg') }}"
              alt="artwork"
            />
          </div>

          <div class="detailsContainer">
            <div class="descriptionText">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>

        <div class="gridItem">
          <div class="statsContainer">
            <div class="artistContainer">
              <img
                src="{{ url_for('static', filename='avatar.png') }}"
                alt="avatar"
              />
              <span>John Smith</span>
            </div>

            <div class="iconContainer">
              <div class="iconStats">
                <i class="fa-solid fa-star icon" style="color: #464d58"></i>
                <span>747</span>
              </div>

              <div class="iconStats">
                <i class="fa-solid fa-eye icon" style="color: #464d58"></i>
                <span>16.1k</span>
              </div>
            </div>
          </div>

          <div class="previewContainer">
            <img
              src="{{ url_for('static', filename='22-06-05-1.jpeg') }}"
              alt="artwork"
            />
          </div>

          <div class="detailsContainer">
            <div class="descriptionText">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
      </div>
    </main>
    <nav>
      <a href="/">Explore</a>
      <a href="/create">Create</a>
      <a href="/gallery">Gallery</a>
      <a href="/profile">Profile</a>
    </nav>

    {% block uploadJs%}
    <script src="{{ url_for('static', filename='gallery.js') }}"></script>
    {% endblock %}
  </body>
</html>
