{% extends "base.html" %}

{% block container %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% if favorites and favorites|length > 0 %}
    {% for favorite in favorites %}
      {% set user = get_user_by_id(favorite.user_id) %}
      <div class="gridItem">
        <div class="statsContainer">
          <div class="artistContainer">
            <img src="{{ user.avatar_url if user.avatar_url else url_for('static', filename='images/avatar.png') }}" alt="avatar"/>
            <span>{{favorite.username}}</span>
          </div>
    
          <div class="iconContainer">
            <div class="iconStats">
                <button href="" class="viewerButton"><i class="material-icons">bookmark</i></button>
                <span>{{favorite.likes}}</span>
            </div>
          </div>
        </div>
    
        <div class="previewContainer">
          <img src="{{ favorite.image_url if favorite.image_url else url_for('static', filename='images/22-06-05-1.jpeg') }}" alt="artwork"/>
        </div>
    
        <div class="detailsContainer">
          <div class="descriptionText">{{favorite.post_description}}</div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="endOfList">Currently you have no saved artworks</p>
  {% endif %}

  {% block uploadJs%}
    <script src="{{ url_for('static', filename='js/gallery.js') }}"></script>
  {% endblock %}
{% endblock %}