{% extends "base.html" %}

{% block content%}
    <span class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
        </form>
    </span>
    
    <span class="filter_menu"">
        <button>Filter</button>
        <div class="filter_contents">
            <!-- Need to add references to filter out content -->
            <a href="">Digital Art</a>
            <a href="">Photography</a>
            <a href="">Visual Arts</a>
        </div>
    </span>

    <div style="margin-bottom: 75px;;"></div>    
    <div class="gridItem">
        <div class="statsContainer">
            <div class="artistContainer">
                <img src="{{url_for('static'), filename='images/avatar.png'}}" alt="avatar">
                <span>John Smith</span>
            </div>

            <div class="iconContainer">
                <div class="iconStats">
                    <i class="fa-solid fa-star icon" style="color: #464d58;"></i>
                    <span>747</span>
                </div>

                <div class="iconStats">
                    <i class="fa-solid fa-eye icon" style="color: #464d58;"></i>
                    <span>16.1k</span>
                </div>
            </div>
        </div>

        <div class="previewContainer">
            <img src="{{url_for('static'), filename='images/22-06-05-1.jpeg'}}" alt="artwork">
        </div>

        <div class="detailsContainer">
            <div class="descriptionText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>

    <div class="gridItem">
        <div class="statsContainer">
            <div class="artistContainer">
                <img src="{{url_for('static'), filename='images/avatar.png'}}" alt="avatar">
                <span>John Smith</span>
            </div>

            <div class="iconContainer">
                <div class="iconStats">
                    <i class="fa-solid fa-star icon" style="color: #464d58;"></i>
                    <span>747</span>
                </div>

                <div class="iconStats">
                    <i class="fa-solid fa-eye icon" style="color: #464d58;"></i>
                    <span>16.1k</span>
                </div>
            </div>
        </div>

        <div class="previewContainer">
            <img src="{{url_for('static'), filename='images/22-06-05-1.jpeg'}}" alt="artwork">
        </div>

        <div class="detailsContainer">
            <div class="descriptionText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>

    <div class="gridItem">
        <div class="statsContainer">
            <div class="artistContainer">
                <img src="{{url_for('static'), filename='images/avatar.png'}}" alt="avatar">
                <span>John Smith</span>
            </div>

            <div class="iconContainer">
                <div class="iconStats">
                    <i class="fa-solid fa-star icon" style="color: #464d58;"></i>
                    <span>747</span>
                </div>

                <div class="iconStats">
                    <i class="fa-solid fa-eye icon" style="color: #464d58;"></i>
                    <span>16.1k</span>
                </div>
            </div>
        </div>

        <div class="previewContainer">
            <img src="{{url_for('static'), filename='images/22-06-05-1.jpeg'}}" alt="artwork">
        </div>

        <div class="detailsContainer">
            <div class="descriptionText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
{% endblock %}