{% extends "base.html" %}

{% block container %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}">

<!-- When the user clicks on the "Go Back" button, it calls the create() once more -->
<form action="{{ url_for('create') }}" method="post">
    <button type="submit" id = "back-btn">Go Back</button>
</form>

<!-- This displays the image of what the user is going to post. If it is there, it will show it, else it will show a placeholder just in case. -->
<div class="image-container">
    {% if image_url %}
        <img src="{{ image_url }}" alt="Uploaded Image">
    {% else %}
        <img src="/static/images/placeholder.png" alt="Placeholder Image">
    {% endif %}
</div>

<!-- This displays a form where the user can edit post details such as the description. When submitted, this calls the post_data() function. -->
<form action="{{ url_for('post_data') }}" method="post">
    <div class="image-type-dropdown">
        <label for="image-type">Choose image type:</label>
        <select name="image_type" id="image-type">
            <option value="digital_art">Digital Art</option>
            <option value="photography">Photography</option>
            <option value="visual_art">Visual Art</option>
        </select>
    </div>
    <div class="comment-box">
        <textarea name="post_description" id="comment" rows="4" cols="50"></textarea>
    </div>
    <div class="submit-container">
        <button type="submit" id="submit-post">Post</button>
    </div>
</form>

{% endblock %}
